.header {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    width: 100%;             /* Largeur du div (exemple 100% de la largeur du parent) */
    height: 80px;           /* Hauteur du div (à ajuster selon tes besoins) */
    border : 3px solid #000000;
}

.header img {
    max-width: 100%;         /* L'image prend toute la largeur possible du parent */
    max-height: 100%;        /* L'image prend toute la hauteur possible du parent */
    object-fit: contain;    /* L'image s'adapte sans être déformée */
}