<div class="famille-container">
  <div class="header">
    <h2>Nombre de familles: {{ listeFamilles.length }}</h2>
    <button class="creation" (click)="creation()">Créer une famille</button>
  </div>

  <div class="filter-buttons">
    <!-- Afficher toutes les familles -->
    <button (click)="filtrerFamilles(false)">Les familles actives</button>
    <!-- Filtrer les familles archivées -->
    <button (click)="filtrerFamilles(true)">Familles Archivées</button>
  </div>

  <ul class="famille-list">
    <li *ngFor="let famille of listeFamillesFiltres" class="famille-item" [ngClass]="{'archived': famille.archive}">
      <span><strong>ID Famille :</strong> {{ famille.id }}</span>

      <!-- Affichage des parents -->
      <span>
        <strong>Parents:</strong>
        <div *ngFor="let parent of famille.listeParent">
          {{ parent.nom }}, {{ parent.prenom }}
        </div>
      </span>

      <!-- Affichage des enfants -->
      <span>
        <strong>Enfants:</strong>
        <div *ngFor="let enfant of famille.listeEnfant">
          {{ enfant.nom }}, {{ enfant.prenom }}
        </div>
      </span>

      <!-- Message d'archivage -->
      <div *ngIf="famille.archive" class="archive-message">
        Cette famille est archivée.
      </div>

      <!-- Boutons pour actions -->
      <div class="buttons">
        <button (click)="selectionnerFamille(famille)">Sélectionner</button>
        <button class="modifier" (click)="modifierFamille(famille)">Modifier</button>
        <button class="archiver" (click)="archiverFamille(famille)" *ngIf="!famille.archive">Archiver</button>
        <button class="desarchiver" (click)="desarchiverFamille(famille)" *ngIf="famille.archive">Désarchiver</button>
      </div>
    </li>
  </ul>

  <!-- Message si aucune famille trouvée -->
  <ng-template #noFamilles>
    <p>Aucune famille trouvée.</p>
  </ng-template>
</div>
