<div class="famille-container">
  <div class="header">
    <h2>Nombre de familles: {{ listeFamilles.length }}</h2>
    <button class="creation" (click)="creation()">Créer une famille</button>
  </div>

  <ul class="famille-list">
    <li *ngFor="let famille of listeFamilles" class="famille-item">
      <span><strong>ID Famille :</strong> {{ famille.id }}</span>
      
      <!-- Affichage des parents -->
      <span>
        <strong>Parents:</strong>
        <div *ngFor="let parent of famille.listeParent">
          {{ parent.nom }}, {{ parent.prenom }}
        </div>
      </span>
      
      <!-- Affichage des enfants -->
      <span>
        <strong>Enfants:</strong>
        <div *ngFor="let enfant of famille.listeEnfant">
          {{ enfant.nom }}, {{ enfant.prenom }}
        </div>
      </span>
      
      <!-- Boutons pour actions -->
      <div class="buttons">
        <button (click)="selectionnerFamille(famille)">Sélectionner</button>
        <button class="modifier" (click)="modifierFamille(famille)">Modifier</button>
        <button class="archiver" (click)="archiverFamille(famille)">Archiver</button>
      </div>
    </li>
  </ul>

  <!-- Message si aucune famille trouvée -->
  <ng-template #noFamilles>
    <p>Aucune famille trouvée.</p>
  </ng-template>
</div>
