<div class="reduction-container">
  <div class="header">
    <h2>Nombre de réductions: {{ listeReductions.length }}</h2>
    <button class="creation" (click)="creation()">Créer une réduction</button>
  </div>
  
  <ul class="reduction-list">
    <li *ngFor="let reduction of listeReductions" class="reduction-item">
      <span><strong>ID Réduction :</strong> <br>{{ reduction.id }}</span>
      <span><strong>Montant :</strong> <br>{{ reduction.montant | currency:'EUR' }}</span>
      <span><strong>Pourcentage :</strong> <br>{{ reduction.pourcentage }} %</span>
      <span><strong>Description :</strong> <br>{{ reduction.description }}</span>
      
      <button (click)="archiver()">Archiver</button>
    </li>
  </ul>

  <ng-template #noReductions>
    <p>Aucune réduction trouvée.</p>
  </ng-template>
</div>
