<div class="service-container">
  <div class="header">
    <h2>Nombre de services: {{ listeServices.length }}</h2>
    <button class="creation" (click)="creation()">Créer un service</button>
  </div>

  <ul class="service-list">
    <li *ngFor="let service of listeServices" class="service-item">
      <span><strong>ID Service :</strong> {{ service.id }}</span>
      <span><strong>Description :</strong> {{ service.libelle }}</span>

      <!-- Bouton pour archiver -->
      <button class="archiver" (click)="archiver()">Archiver</button>
    </li>
  </ul>

  <!-- Message si aucun service trouvé -->
  <ng-template #noServices>
    <p>Aucun service trouvé.</p>
  </ng-template>
</div>
