<button class="menuBouton" (click)="retour()">Menu</button>

<div class="facture-container">
    <div class="header">
      <h2>Nombre de factures: {{ factures.length }}</h2>
    </div>
  
    <ul class="facture-list">
      <li *ngFor="let facture of factures" class="facture-item">
        <span>Id facture : {{ facture.id }}</span>
        <span>Id famille : {{ facture.idFamille }}</span>
        <span>Date de création : {{ facture.dateCreation | date:'dd/MM/yyyy' }}</span>
        <span>Créancier : {{ facture.creancier }}</span>
        <span>Débiteur : {{ facture.debiteur }}</span>
        <span>Montant total : {{ calculMontantTotal(facture) | currency:'EUR' }} €</span>
        <span>Montant restant à payer : {{ calculMontantRestant(facture) | currency:'EUR' }}</span>
        <span>Déscription : {{ facture.description }}</span>
        <button (click)="archiver()">Archiver</button>
      </li>
    </ul>
</div>
  