<div class="header">
    <button (click)="navigateTo('/accueil')" class="menu-btn">Menu</button>
    <div class="date">{{ currentDate }}</div>
    <!--<div class="user-info">{{ nomPrenom }}</div>-->
    <button (click)="logout()" class="logout-btn">
      <span class="material-icons">logout</span> Déconnexion
    </button>
  </div>
  
  <div class="content">
    <button (click)="navigateTo('/formulaire-inscription')" class="content-btn">Inscription</button>
    <button (click)="navigateTo('/factures')" class="content-btn">Factures</button>
    <button (click)="navigateTo('/familles')" class="content-btn">Familles</button>
    <button (click)="navigateTo('/services')" class="content-btn">Service</button>
    <button (click)="navigateTo('/reductions')" class="content-btn">Réduction</button>
  </div>
  